{{!-- <article class="col-12 col-md cont"> --}}
<div class="card-body col-12 col-md-4 col-lg-3">
  <div class="row d-flex">
    <button class="button flex-fill quizStart buttonOptions" data-name="{{ quizName }}"
      data-id={{ quizID }}>{{ quizName }}</button>
  </div>
  <div class="row d-flex">
    <button class="button q-rmv flex-fill deleteQuiz d-none buttonOptions" data-name="{{ quizName }}" data-id={{ quizID }}>Delete</button>
  </div>
</div>
{{!-- </article> --}}